@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    max-width: 1320px;
}

/* header part */
.banner {
    margin: 50px auto 100px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather', serif;
}

.banner-description {
    padding: 177px 300px;
    width: 600px;
}

.banner p {
    font-size: 32px;
    font-weight: 400;
}

.banner h2 {
    font-size: 72px;
    font-weight: 900;
}


/* offer part */
.offer {
    text-align: center;
    margin: 50px auto 100px;
    font-family: 'Inter', sans-serif;
}

.offer>h2 {
    color: #F00;
    font-size: 76px;
    font-weight: 700;
}

#holiday {
    margin: 32px 0 12px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}