@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    max-width: 1320px;
}

/* header part */
.banner {
    margin: 50px auto 100px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather', serif;
}

.banner-description {
    padding: 177px 300px;
    width: 600px;
}

.banner p {
    font-size: 32px;
    font-weight: 400;
}

.banner h2 {
    font-size: 72px;
    font-weight: 900;
}


/* offer part */
.offer {
    text-align: center;
    margin: 50px auto 100px;
    font-family: 'Inter', sans-serif;
}

.offer>h2 {
    color: #F00;
    font-size: 76px;
    font-weight: 700;
}

#holiday {
    margin: 32px 0 12px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}



/* party part */
.party {
    margin: 50px auto 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.party-details {
    width: 50%;
    padding-left: 100px;
}

.party-details h2 {
    text-align: left;
    font-size: 58px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #FFF;
}

.about-party {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 18px 0 36px;
}

.join {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.party-celebration img {
    padding: 50px 80px 30px 40px;
    width: 65%;
}


/* party info */
.party-info {
    margin: 50px auto 100px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #070211;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.party-info-background {
    padding: 100px 0;
}

.party-info-background p {
    padding: 12px 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.red-part {
    color: #F00;
}

.primary-btn {
    margin-top: 42px;
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

/* comming-soon-offer part */
.comming-soon-offer {
    margin: 0 auto 100px;
}

.comming-soon-offer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.new-best-offer {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.comming-soon-offer-content-1 {
    width: 60%;
}

.comming-soon-offer-content-1>h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 14px 0 22px;
}

.new-best-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.comming-soon-offer-content-2 {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
    width: 60%;
}

.year {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.para {
    margin: 10px 0 10px;
}


/* holiday-offer */
.holiday-offer {
    margin: 0 auto 100px;
}

.holiday-offer p,
h2 {
    text-align: center;
}

.holiday-offer-description {
    width: 1000px;
    margin: 0 auto;
}

.holiday-offer-para {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.holiday-offer-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    font-weight: 900;
    margin: 14px 0 22px;
}

.holiday-offer-heading>span {
    color: #F00;
}

.holiday-offer-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
}

.upper-part {
    display: flex;
}

.offer-images {
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    border-radius: 16px 0px 16px 16px;
}

.person-joy {
    position: relative;
}

.person {
    position: absolute;
    left: -11px;
    top: 1px;
}

.enjoy {
    position: absolute;
    z-index: 1;
    left: -150px;
    top: 67px;
}



/* offer items */
.offer-items {
    margin: 0 auto 100px;
}

.offer-items-row-1,
.offer-items-row-2 {
    display: flex;
    justify-content: space-between;
}

.row-items-1 {
    width: 32%;
    cursor: pointer;
}

.row-items-1:hover {
    /* width: 32% */
    color: #070211;
    opacity: 0.3;


}

.offer-items-para {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.offer-items-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 10px 0 16px;

}

.offer-items-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    margin-bottom: 36px;
}

.offer-items-row-2 {
    margin-top: 20px;
}




/* subscribe part */
.subscribe {
    margin: 0 auto 100px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 20px 0;
}

.subs-part {
    padding-top: 20px;
}

.subs-heading {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 14px 0 18px;
}

.subs-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 52%;
    margin: 0 auto;
}

.subs-option {
    display: flex;
    justify-content: center;
    margin: 36px 0 40px;
}

.subs-option>input[type='email'] {
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
    padding: 20px 20px;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 35%;
}

.subs-option>input[type='submit'] {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 20px 40px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}



/* footer part */
.foot {
    margin: 0 auto;
}


.footer {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #070211;
}

.first-footer-part {
    display: flex;
    padding: 60px 0 40px;
    color: #FFF;
    gap: 58%;
}

hr {
    height: 2px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}

.second-footer-part {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 36px 0;

}

.third-footer-part {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 40px 0 80px;
}

.first-footer-part-2 p img {
    vertical-align: middle;
}

.web{
    cursor: pointer;

}